@import "../../styles/_main.scss";

.adminpage {
  height: 100vh;
  background-color: $color__background;

  &__nav {
    position: fixed;
    height: 100vh;
    width: 15vw;
    background-color: $color__primary;
    border-left: 2px solid $color__white;

    &-list {
      list-style: none;
      color: $color__white;
      font-size: 25px;
    }
  }
}
