@import "../../styles/_main.scss";

.lighter-text {
  color: $color__white;
}

.main-color-text {
  color: $color__danger;
  padding-left: 2px;
}

.badge {
    background-color: #6394F8;
    border-radius: 10px;
    color: $color__white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart {
  margin: 20px 0;
  float: right;
  background: $color__primary;
  width: 320px;
  position: fixed;
  border-radius: 3px;
  padding: 20px;
  right: 25px;
  bottom: 5px;
  border: 2px solid $color__white;
  border-radius: 15px;
  z-index: 98;
  
  
  .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
        
    .shopping-cart-total {
      display: inline-block;
    }
  }
  
  .shopping-cart-items {

      li {
        margin-bottom: 18px;
      }

    img {
      float: left;
      margin-right: 12px;
    }

    .item {
      width: 100%;
      display: block;
      border-bottom: 2px dotted white;
    }

    .item-name {
      display: block;
      padding-top: 10px;
      font-size: 16px;
      color: $color__white;
    }
    
    .item-price {
      color: $color__white;
      margin-right: 8px;
    }
    
    .item-quantity {
      color: $color__white;
    }

    .item-amount {
      color: $color__danger;
    }
  }
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background: $color__primary;
  color: $color__white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
  
  &:hover {
    background: lighten($color__primary, 3%);
  }
}

.clearfix {
  list-style-image: url("../../images/nav/bullet.png");
}

.pauper {
  color: $color__danger;
  position: fixed;
  right: 50px;
}

.shopping-cart-amount {
  float: right;
  color: $color__danger;
}
