@import "../../styles/_colors.scss";

$colors: (
  white: $white,
  black: $black,
  red: #ff0000
);

@each $name, $value in $colors {
  .button {
    padding: 10px 20px;

    &__text {

      &--#{$name} {
        color: #{$value};
      }
    }
  }
}
