@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');
$font__Handlee: 'Handlee';

@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
$font__Kalam: 'Kalam';

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
$font__Indie_Flower: 'Indie Flower';
