@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');
$font__Handlee: 'Handlee';

@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
$font__Kalam: 'Kalam';

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
$font__Indie_Flower: 'Indie Flower';

@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');
$font__Patrick_Hand: 'Patrick Hand';

:export {
  Handlee: $font__Handlee;
  Kalam: $font__Kalam;
  Indie_Flower: $font__Indie_Flower;
  Patrick_Hand: $font__Patrick_Hand;
}
