@import "../../styles/_colors.scss";
@import "../../styles/vars";

.nav {
    height: $nav-height;
    background: $nav-background;

    &__brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: $nav-height;
    text-transform: uppercase;
    font-size: 1.4em;

        &-link,
        &-link:visited {
            color: $nav-font-color;
            text-decoration: none;
        }
    }

    &__dropdown {
        position: absolute;
        display: none;
        z-index: 1;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    }
    
    &__items {
        list-style: none;
        margin: 0;
        padding: 0;
        float: right;
    }

    &__item {
        float: left;
        position: relative;

            &-link,
            &-link:visited {
                display: block;
                padding: 0 20px;
                line-height: $nav-height;
                background: $nav-background;
                color: $nav-font-color;
                text-decoration: none;

                &:hover {
                    background: $link-hover-color;
                    color: $nav-font-color;
                }

                &:not(:only-child):after {
                    padding-left: 4px;
                    content: ' ▾';
                }
            }

            ul li {
                min-width: 190px;
    
                a {
                    padding: 15px;
                    line-height: 20px;
                }
            }
    }
}
