@import "../../styles/_main.scss";

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  background-color: $color__black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  &__link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
    width: fit-content;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: $color__white;
      transition: width 300ms;
      margin: 0 auto;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }

    &:hover {
      color: $color__white;
    }
  }

  & .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;

    &:hover {
      color: $color__white;
    }
  }
}

.openbtn {
  cursor: pointer;
  color: $color__black;
  background-color: $color__white;
  width: 70px;
  height: 70px;
  position: fixed;
  right: 0;
  top: 0;
  margin: 15px;
  z-index: 100;
  border-radius: 15px;
  border: 2px solid $color__black;
  padding: 5px;
}

.is_open {
  width: 300px;
}

.is_closed {
  width: 0;
}
